<label for="">
      <a href="/"><i class="fa fa-globe" aria-hidden="true"></i></a>
      <a href="/add_planet"><i class="fa fa-plus add-active" aria-hidden="true"></i></a>
      
</label>

<form action="/cube" method="post">
    <div>
        <label for=""></label>
        <input class="front-cube" name="front" type="text"
        placeholder="IMAGE URL" autocomplete="off">
    </div>
    <div>
        <label for=""></label>
        <input class="front-cube" name="front" type="text"
        placeholder="IMAGE URL" autocomplete="off">
    </div>
        <input type="hidden" name="id">
    </div>
    <button><i class="fa fa-space-shuttle" aria-hidden="true"></i></button>
</form>