
<form action="/cube" method="post">
    <div>
        <label for="">FRONT</label>
        <input class="front-cube" name="front" type="text"
        placeholder="IMAGE URL" autocomplete="off">
    </div>
    <div>
        <label for="">SIDE</label>
        <input class="side-cube" name="side" type="text"
        placeholder="IMAGE URL" autocomplete="off">
    </div>
    <div>
        <label for="">TOP</label>
        <input class="top-cube" name="top" type="text"
        placeholder="IMAGE URL" autocomplete="off">
    </div>
    <button><i class="fa fa-play" aria-hidden="true"></i></button>
</form>